<% subject = @question.pick_subject  %>


<% if @question.concern2 == 'grapes' %>
	<h1><%= @question.question.gsub("subregion", subject.name) %></h1>
	<% method = 'pick_answers_grape' %>
	<% answer = [] %>
	<% subject.grapes.each do |grape| %>
		<% answer << grape.name %>
	<% end %>
<% else %>
	<%if subject.is_a? Appellation
			sub = 'subregion'
		else
			sub = 'region'
		end %>
	<h1><%= @question.question.gsub("#{@question.concern}", subject.name) %></h1>
	<% method = 'pick_answers_regional' %>
	<% answer = subject.send(sub).name %>
<% end %>

<p> answers: </p>
<ol type = 'a'>
<% @question.send(method,subject).shuffle.each do |item| %>
	<li><%= item %></li>
<% end %>
</ol>

<button type = 'button' onclick="myFunction()">See Answer</button>
<%= link_to "Next Question", :controller => "flashcards", :action => "index" %>

<script>
function myFunction() {
	document.getElementById('answer').innerHTML  = "<%= answer %>"
}

</script>

<p id = "answer"><p>