<% subject = @question.pick_subject  %>

<div class='flashcard'>
<% if @question.concern2 == 'grapes' %>
	<h1><%= @question.question.gsub("subregion", subject.name) %></h1>
	<% method = 'pick_answers_grape' %>
	<% answer = [] %>
	<% subject.grapes.each do |grape| %>
		<% answer << grape.name %>
	<% end %>
	<% answer.shuffle %>
	
<% elsif @question.concern == 'vocab' %>
	<h1><%= @question.question.gsub('vocab', subject.word) %></h1>
	<% method = 'pick_answers_vocab' %>
	<% answer = subject.definition %>

<% else %>
	<%if subject.is_a? Appellation
			sub = 'subregion'
		elsif subject.is_a? Subregion
			sub = 'region'
		else
			sub = 'appellation'
		end %>
	<h1><%= @question.question.gsub("#{@question.concern}", subject.name) %></h1>
	<% method = 'pick_answers_regional' %>
	<% answer = subject.send(sub).name %>
<% end %>

<script>
function myFunction() {
	document.getElementById('answer').innerHTML  = "<%= answer %>"
}

</script>

<p> answers: </p>
<ol type = 'a'>
<% @question.send(method,subject).shuffle.each do |item| %>
	<li><%= item %></li>
<% end %>
</ol>
</div>
<button type = 'button' onclick="myFunction()">See Answer</button>
<%= link_to "Next Question", :controller => "flashcards", :action => "subappellations" %>

<p id = "answer"><p>